body{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/**index.html Header**/
.index-header, .account-header{
    background-image: url(images/background.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

header .navbar{
    margin-top: 20px;
}

header a{
    color: whitesmoke;
    font-size: 20px;
}

header a:hover{
    color: #FFBB34;
}

/**Navigation Bar**/
.nav-link{
    margin-left: 30px;
}

.navbar-brand{
    font-size: 40px;
    font-family: Algerian;
    color: #FFBB34;
}

.navbar-nav{
    margin-left: auto;
}

.dropdown-menu{
    background: transparent;
    border: none;
}

.dropdown-menu .dropdown-item{
    background: transparent;
    margin-left: 25px;
    margin-bottom: 5px;
    color: white;
}

.dropdown-item:hover{
    background: transparent;
    color: #FFBB34;
}

.cart-img{
    height: 100%;
    width: 100%;
    margin-top: 5px;
    margin-right: 50px;
    background-image: url(images/cart.png);
    background-size: 40px;
    background-repeat: no-repeat;
}

.cart-img:hover{
    background-image: url(images/cart-hover.png);
}

.active{
    text-decoration: underline;
    color: #FFBB34;
}


/**index.html Header**/
.index-header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 40vmin;
    font-size: 85px;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 3px;
}

.index-header h2{
    font-family: Algerian;
    padding-bottom: 40vmin;
    font-size: 40px;
    color: #FFBB34;
    text-align: center;
}

#heading{
    font-family: Forte;
    color: #FFBB34;
    font-size: 50px;
    margin-bottom: 30px;
}

/**Featured item**/
#title-text{
    margin-top: -50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110px;
    color:whitesmoke;
}

#title-text-2{
    margin-top: -60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 170px;
    color:whitesmoke;
}

.feature img{
    width: 480px;
    margin-top: -80px;
}

.feature .col-md-3{
    text-align: right;
}

#price{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #FFBB34;
    margin-top: 320px;
    margin-bottom: 20px;
}

#description{
    color: rgb(168, 168, 168);
    font-size: 20px; 
    margin-top: -20px;
}

.feature button{
    margin-top: 20px;
    padding: 5px 50px 5px 50px;
    color: black;
}

/**Reward**/
.index-body hr{
    margin: 150px 0px 150px 0px;
    color: white;
}

.reward .heading{
    text-align: right;
}

.reward img{
    width: 380px;
}

/**Deliver**/
.deliver #description{
    margin-top: -30px;
}

.deliver img{
    width: 125px;
    margin-left: -20px;
}

.deliver button{
    margin-top: 15px;
    padding: 5px 50px 5px 50px
}

footer{
    margin-top: 150px;
}

/**order.html**/
#menu-title{
    padding-top: 170px;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menu-text{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.item{
    border: 1px solid rgb(126, 126, 126);
    border-radius: 15px;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.item button:hover{
    opacity: 60%;
}

.item img{
    width: 170px;
    border-radius: 5%;
}

.item button{
    padding: 7px 40px 7px 40px;
    margin-top: 20px;
}

.right-align{
    text-align: right;
}

#item-name{
    font-weight: bold;
}

#item-description{
    font-weight: lighter;
    color: lightgray;
}

#item-price{
    text-align: right;
}

.order-body hr{
    height: 3px;
    margin: 50px 0px 50px 0px;
    color: white;
}

/**Loader**/
.loader{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.loader h3{
    margin-top: -140px;
    color:rgb(192, 191, 191);
    font-weight: lighter;
}

.modal{
    text-align: center;
    color: white;
}

.success{
    background-color: rgb(5, 226, 5);
}


/**cart.html**/
.cart-header .cart-img{
    background-image: url(images/cart-hover.png);
}

.delete{
    background-color: rgb(226, 5, 5);
}

.remove{
    color: white;
}

.remove:hover{
    color: rgb(173, 173, 173);
}

.cart-body{
    margin-top: 170px;
    color: rgb(202, 202, 202);
}
 
.cart-text{
    color: whitesmoke;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 50px;
}

.item-cover{
    margin: 5px;
    color: whitesmoke;
    border: 1px solid gainsboro;
    padding: 25px;
    border-radius: 10px;
}

.item-cover h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27px;
}

.item-cover .col-md-6 h5{
    text-align: right;
    margin-bottom: 30px;
}

.item-cover img{
    width: 100px;
    border-radius: 5px;   
}

.item-cover .col-md-8 h4, .item-cover .col-md-8 h5{
    margin-left: 20px;
    font-size: 20px;
}

.item-cover .col-md-8 h5{
    color: #FFBB34;
    font-weight: lighter;
}

.item-cover .col-md-2, .item-cover .col-md-2 h4{
    font-weight: lighter;
    font-size: 20px;
}

.item-remove{
    color: white; 
}

/**cart.html Summary**/
#address{
    color: whitesmoke;
    font-size: 20px;
    width: 350px;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(168, 168, 168);
    margin: 10px 0 50px;
}

.summary-cover{
    margin: 5px;
    color: whitesmoke;
    border: 1px solid gainsboro;
    padding: 25px;
    border-radius: 10px;
}

.summary-cover h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27px;
}

.summary-cover .col-md-6 h5{
    font-size: 25px;
    font-weight: lighter;
}
.summary-cover h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.voucher-text{
    margin-top:10px;
}

#voucher{
    color: white;
}

#voucher:hover{
    color: rgb(136, 136, 136);
}

.summary-cover button{
    margin-top: 20px;
    width: 350px;
}

.complete-loader img{
    width: 130px;
    margin-bottom: 20px;
}

.complete-loader h2{
    font-weight: lighter;
}

.complete-loader h3{
    font-size: 30px;
    margin-top: 50px;
}

.complete-loader #earned-point{
    font-size: 30px;
    margin-top: 5px;
    color:rgb(173, 173, 173)
}

/**View rewards**/
.cart-reward{
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-body{
    text-align: left;
}

#voucher-modal h1{
    font-size: 25px;
}

#voucher-modal h3{
    font-size: 18px;
    font-weight: lighter;
    color:rgb(136, 136, 136);
}

#voucher-modal .col-md-3{
    text-align: right;
}

#voucher-modal a{
    font-size: 15px;
    font-weight: lighter;
    text-align: right;
    color: white;
}

/**login.html, register.html**/
.account-header{
    padding: 25vmin 0 20vmin 0;
}

.account-cover{
    border: 1px solid rgba(255, 255, 255, 0.418);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

.user-icon{
    padding: 10vmin 0 13vmin 0;
    width: 100px;
    margin: 100px;
}

.account-cover .col-md-1{
    padding: 100px;
}

.account-cover .col-md-4{
    text-align: center;
    border-right: 0.4px solid rgba(102, 102, 102, 0.445);
}

.account-cover .col-md-8{
    padding: 10vmin 0 15vmin 0;
    padding-left: 80px;
}

.account-cover h1{
    color: white;
    font-size: 35px;
}

.account-cover h5{
    color: white;
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 20px;
}

.account-cover input{
    color: whitesmoke;
    font-size: 23px;
    width: 400px;
    margin-top: 10px;
    border: none;
    padding-top: 20px;
    background: transparent;
    border-bottom: 2px solid rgb(168, 168, 168);
}

.account-cover button{
    margin-top: 15px;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
}

.account-cover h6, .account-cover a{
    color: whitesmoke;
    font-weight: lighter;
    margin-top: 20px;
    font-size: 15px;
}

#invalid, #invalid-address, #invalid-order, #invalid-fill{
    color: red;
    margin-top: 15px;
    font-size: 18px;
}

#registered{
    color: green;
    margin-top: 15px;
    font-size: 18px;
}


.container-points {
    padding-top:200px;
    padding-right: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:25px;
}
  
/* Wheel Rewards */
.mainbox{
    position: relative;
    width: 500px;
    height: 500px; 
}

.mainbox:after{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background: url('https://lh3.googleusercontent.com/proxy/WqzbWG57Nr-y_BNC7H-ZBXZOwQT23zORAO6d7iu08Fc6EgnDSGWcb4wBVgZf0tL3QcewoeXalE6rbbuUYhAAD5TjIN6sbA4') no-repeat;
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.box{
    width: 100%;
    height: 100%;
    position: relative;
    font-weight: bold;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 5s;
}

span{
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
    color: black;
    font-weight:100;
}
  
.span1{
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #fffb00;
    top: 120px;
    left: 0;
}
  
.span2{
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: #ff4fa1;
    top: 120px;
    right: 0;
}
  .span3{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: #ffaa00;
    bottom: 0;
    left: 120px;
}

  .span4{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: #22ff00;
    top: 0;
    left: 120px;
}
  
/*Wheel Cells*/
.box span{
    font-weight: bold;
}

.box span b{
    padding-left: 40px;
}

.box1 .span3 b{
    transform: translate(-50%, -50%) rotate(-270deg);
}

.box1 .span1 b,
.box2 .span1 b{
    transform: translate(-50%, -50%) rotate(185deg);
}

.box2 .span3 b{
    transform: translate(-50%, -50%) rotate(90deg);
}

.box1 .span4 b,
.box2 .span4 b{
    transform: translate(-50%, -50%) rotate(-85deg);
}
  
span b {
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.box2{
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}
  
/* Spin Button */
.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #001aff;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
}
  
.mainbox.animate:after{
    animation: animateArrow 0.7s ease infinite;
}

@keyframes animateArrow{
    50%{
      right: -40px;
    }
}

.reward-body{
    margin-top: 250px;
}

.reward-body h1{
    color: white;
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -40px;
}

.reward-body .current-point{
    color: white;
    font-size: 28px;
    font-weight: lighter;
    margin: 50px 0 50px;
}

.wheel{
    text-align: center;
    margin: 100px 0 100px;
}

.wheel h1{
    margin-bottom: 20px;
    font-size: 80px;
    color:rgb(255, 208, 0)
}

#wheel-arrow{
    width: 100px;
    display: flex;
    z-index: 99;
    position:absolute;
    margin-top: 230px;
    margin-left: 460px;
}

.win-text{
    text-align: center;
    margin-left: -20px;
}

.win-text h1{
    color: rgb(7, 163, 7);
    font-size: 80px;;
    margin-top: 200px;
}

.win-text h3{
    color: rgb(7, 163, 7);
    font-size: 40px;
    margin-top: 0px;
}

.win-text h2{
    color: rgb(163, 7, 7);
    font-size: 40px;
    margin-top: 200px;
}

/**Rewards table**/
.table{
    color: white;
    margin-top: 170px;
    font-size: 30px;
}