body{
    background-color: black;
}

.index-header{
    background-image: url(images/background.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

header .navbar{
    margin-top: 20px;
}

header a{
    font-family: Roboto;
    color: whitesmoke;
    font-size: 23px;
}

header a:hover{
    color: #FFBB34;
}

.nav-link{
    margin-left: 30px;
}

.navbar-brand{
    font-size: 40px;
    font-family: Algerian;
    color: #FFBB34;
}

.navbar-nav{
    margin-left: auto;
}

.active{
    text-decoration: underline;
    color: #FFBB34;
}

header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 40vmin;
    font-size: 100px;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 5px;
}

header h2{
    font-family: Algerian;
    padding-bottom: 40vmin;
    font-size: 40px;
    color: #FFBB34;
    text-align: center;
}

#heading{
    font-family: Forte;
    color: #FFBB34;
    font-size: 50px;
    margin-bottom: 30px;
}

#title-text{
    margin-top: -50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110px;
    color:whitesmoke;
}

#title-text-2{
    margin-top: -60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 170px;
    color:whitesmoke;
}

.feature img{
    width: 480px;
    margin-top: -80px;
}

.feature .col-md-3{
    text-align: right;
}

.feature button{
    margin-top: 20px;
    padding: 5px 50px 5px 50px;
    color: black;
}

#price{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #FFBB34;
    margin-top: 320px;
    margin-bottom: 20px;
}

#description{
    font-family: Roboto;
    color: rgb(168, 168, 168);
    font-size: 20px; 
    margin-top: -20px;
}


.index-body hr{
    margin: 150px 0px 150px 0px;
    color: white;
}

.reward .heading{
    text-align: right;
}

.reward img{
    width: 380px;
}

.deliver #description{
    margin-top: -30px;
}

.deliver img{
    width: 125px;
    margin-left: -20px;
}

.deliver button{
    margin-top: 15px;
    padding: 5px 50px 5px 50px
}

footer{
    margin-top: 150px;
}


#menu-title{
    padding-top: 170px;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menu-text{
    text-align: center;
    color: white;
    font-family: Roboto;
    margin-bottom: 20px;
}


.item{
    border: 1px solid rgb(126, 126, 126);
    border-radius: 20px;
    color: white;
    font-family: Roboto;
    padding: 15px;
    margin-top: 10px;
}

.item button:hover{
    opacity: 60%;
}

.item img{
    width: 180px;
    border-radius: 5%;
}

.item button{
    padding: 7px 40px 7px 40px;
    margin-top: 20px;
}

.right-align{
    text-align: right;
}

#item-name{
    font-weight: bold;
}

#item-description{
    font-weight: lighter;
    color: lightgray;
}

#item-price{
    text-align: right;
}

.order-body hr{
    height: 3px;
    margin: 50px 0px 50px 0px;
    color: white;
}


@media screen and (max-width:414px)
{
    .item img{
        width: 80px;
    }

    #item-name{
        padding-left: 15px;
        font-size: 12px;
    }

    #item-description{
        padding-left: 15px;
        font-size: 8px;
    }

    #item-price{
        font-size: 18px;
    }

}